*{
    margin: 0;
    padding: 0;
}
.custom-navbar{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    align-items: center;
    background-color: #d3d3d3;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
}
.custom-navbar h1{
    margin-bottom: 15px;
    font-size: 30px; 
    color: rgb(85, 216, 85);
    align-items: center;
    margin-left: 18px;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
}



.custom-navbar ul{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 20px;
}
.custom-navbar ul li{
    /* text-decoration: none; */
    list-style: none;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
}
.custom-navbar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
}
.custom-navbar ul li a::after{
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: rgb(85, 216, 85);
    transition: 0.3s;
    width: 0%;
    position: absolute;
}
.custom-navbar ul li a:hover::after{
    width: 100%;
}
.custom-navbar ul li a:hover{
    color: rgb(85, 216, 85);
}
.nav-btn {
  background-color: rgb(85, 216, 85);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  font-size: 18px;
  transition: 0.3s ease;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  margin-left: 100px;
  /* margin-right: 10px; */
  margin-top: 10px;
  margin-bottom: 8px;
}

/* PAGE HEADER */
.page-header {
    /* margin-top: 120px; */
    background: #f4f7fb;
    padding: 40px 60px;
}

.page-header h2 {
    font-size: 28px;
}

.page-header p {
    color: gray;
    margin-top: 10px;
}
.contact-section {
    padding: 60px;
}

.contact-container {
    display: flex;
    gap: 40px;
}

.map iframe {
    width: 500px;
    height: 100%;
    min-height: 600px;
    border: 0;
    border-radius: 10px;
}



.contact-content {
    flex: 1;
}


/* INFO GRID */
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}


/* INFO BOX */
.info-box {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.info-box:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    transform: translateY(-8px);
}

.info-box i {
    width: 55px;
    height: 55px;
    min-width: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;

    color: rgb(85, 216, 85);
    background: #e9fbe9;

    border-radius: 12px;
}
.info-box h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.info-box p {
    margin: 3px 0 0;
    color: #6c757d;
    font-size: 14px;
}

/* FORM */
.contact-form {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.input-row {
    display: flex;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    background: rgb(85, 216, 85);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    transition: 0.3s ease;
}
.contact-form button:hover{
  background-color: rgb(60, 180, 60);
}