*{
    margin: 0;
    padding: 0;
}
.custom-navbar{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    align-items: center;
    background-color: #d3d3d3;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
}
.custom-navbar h1{
    margin-bottom: 15px;
    font-size: 30px; 
    color: rgb(85, 216, 85);
    align-items: center;
    margin-left: 18px;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
}



.custom-navbar ul{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 20px;
}
.custom-navbar ul li{
    /* text-decoration: none; */
    list-style: none;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
}
.custom-navbar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
}
.custom-navbar ul li a::after{
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: rgb(85, 216, 85);
    transition: 0.3s;
    width: 0%;
    position: absolute;
}
.custom-navbar ul li a:hover::after{
    width: 100%;
}
.custom-navbar ul li a:hover{
    color: rgb(85, 216, 85);
}
.nav-btn {
  background-color: rgb(85, 216, 85);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  font-size: 18px;
  transition: 0.3s ease;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  margin-left: 100px;
  /* margin-right: 10px; */
  margin-top: 10px;
  margin-bottom: 8px;
}
.nav-btn:hover {
  background-color: rgb(60, 180, 60);
  color: #fff;
}

/* .first-container{
    margin-top: 110px;
    margin-top: 100px;
    display: flex;
    gap: 1009px;
    height: 90px;
    width: 100%;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}
.first1{
    font-weight: bolder;
    color: rgb(85, 216, 85);
    font-size: larger;
}
.first2{
    margin-right: 30px;
    font-weight: bolder;
    color: rgb(85, 216, 85);
    font-size: larger;
} */
.page-header {
    margin-top: 100px;
    background: #f4f7fb;
    padding: 40px 60px;
}

.page-header h2 {
    font-size: 28px;
}

.page-header p {
    color: gray;
    margin-top: 10px;
}


.courses-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.filter-box{
  width: 260px;
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  height: 650px;
  margin-top: 80px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.filter-box hr{
  border: 1px solid  #28a745;
}
.filter-box h3{
  margin-top: 15px;
}

.filter-group {
  margin-bottom: 20px;
}
.filter-group h4 {
  margin-bottom: 10px;
  font-size: 14px;
}
.filter-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}
.courses-content{
  flex: 1;
}
.courses-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.search-input{
  width: 60%;
  padding: 10px;
  border: 1px solid  #28a745;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 30px;
}
.search-wrapper{
  position: relative;
  display: inline-block;
  width: 250px;
}
.search-wrapper input.search-input{
  width: 500px;
  padding: 10px 35px 10px 10px; 

}
.search-wrapper i{
  position: absolute;
  bottom: 15px;
  /* left: 166px; */
  right: 60px;
  font-size: 12px;
}

.sort-select{
  padding: 10px;
  border: 1px solid  #28a745;
  border-radius: 6px;
  margin-top: 37px;
  border-radius: 10px;
  /* color: rgb(201, 194, 194); */
}
.courses-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 80px;
}
.course-card{
  background-color: white;
  border: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}
.course-card:hover{
  transform: translateY(-8px);
}
.course-image{
  position: relative;
  height: 180px;
}
.course-image img{
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
.badge{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #2563eb;
  color: #fff;
  padding: 5px 10px;
  font-size: 11px;
  border-radius: 20px;
}
.level-badge{
  right: 10px;
  left: auto;
  background-color: chocolate;
  color: #333;
}
.price-tag{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #fff;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 10px;
  /* border: 1px solid black; */
}
.course-body{
  padding: 15px;
}
.course-title{
  font-size: 18px;
  margin-bottom: 8px;
}
.course-p{
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
.meta-row{
  display: flex;
  gap: 15px;
  color: #666;
  margin-bottom: 10px;
}
.rating-row{
  display: flex;
  gap: 100px;
  font-size: 14px;
  margin-bottom: 10px;
}
.stars {
  color: goldenrod;
}
.reviews {
  color: #666;
}
hr{
  border: none;
  height: 1px;
  background: #eee;
  margin: 10px 0;
}
.instructor {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.instructor-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.instructor-info small{
  color: #666;
  font-size: 12px;
}
.enroll-btn {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.enroll-btn:hover {
  background-color: #135823;
}
.top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #5fcf80;
  color: white;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* border: 1px solid black; */
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.top:hover{
    background: #7b8ca5;
    transform: translateY(-4px);
}
.top.active{
    opacity: 1;
    visibility: visible;
}