*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* font-family: 'Poppins', sans-serif; */

}
body{
  background:#f5f7fb;
  padding-top:120px;
}

.custom-navbar{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    align-items: center;
    background-color: #d3d3d3;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.custom-navbar h1{
    margin-bottom: 15px;
    font-size: 30px; 
    color: rgb(85, 216, 85);
    align-items: center;
    margin-left: 18px;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
}
.custom-navbar ul{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 20px;
}
.custom-navbar ul li{
    /* text-decoration: none; */
    list-style: none;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
}
.custom-navbar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
}
.custom-navbar ul li a::after{
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: rgb(85, 216, 85);
    transition: 0.3s;
    width: 0%;
    position: absolute;
}
.custom-navbar ul li a:hover::after{
    width: 100%;
}
.custom-navbar ul li a:hover{
    color: rgb(85, 216, 85);
}
.nav-btn {
  background-color: rgb(85, 216, 85);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  font-size: 18px;
  transition: 0.3s ease;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  margin-left: 100px;
  /* margin-right: 10px; */
  margin-top: 10px;
  margin-bottom: 8px;
}
.nav-btn:hover {
  background-color: rgb(60, 180, 60);
  color: #fff;
}

.wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 30px;
}
.form-card{
    flex: 2;
    background:#fff;
    padding:40px;
    border-radius:20px;
    /* background-color: #d3d3d3; */
}
.form-card h1{
    text-align:center;
    color:rgb(85,216,85);
}
.form-card p{
  text-align:center;
  color:gray;
  margin:15px 0 30px;
}
.grid2{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:20px;

}
label{
  font-weight:600;
  font-size:14px;
}
input, select, textarea{
  width:100%;
  padding:14px;
  border-radius:10px;
  border:1px solid #ddd;
  margin-top:6px;
}
textarea{
  height:120px;
}
.radio-box{
  border:2px solid #e7f7e7;
  padding:15px;
  border-radius:10px;
  /* margin-top:10px; */
}
/* CHECKBOX AREA */
.checkbox-area{
  background:#f1fdf1;
  padding:20px;
  border-radius:12px;
  margin-top:20px;
}
/* BUTTON */
button{
  width:100%;
  margin-top:25px;
  background:rgb(85,216,85);
  color:#fff;
  border:none;
  padding:16px;
  border-radius:30px;
  font-size:18px;
  cursor:pointer;
}

button:hover{
  background:rgb(60,180,60);
}

.secure{
  text-align:center;
  color:gray;
  margin-top:15px;
}
.side-card{
    flex: 1;
}
.side-card h2{
  margin-bottom:20px;
}
.card{
  display: flex;
  gap:15px;
  background:#fff;
  padding:20px;
  border-radius:15px;
  margin-bottom:15px;
  align-items:center;
}
.card h4, p{
    text-align: center;
}
.icon{
  width:45px;
  height:45px;
  background:rgb(85,216,85);
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  font-size:18px;
}
.stats{
  background:rgb(85,216,85);
  color:#fff;
  padding:30px;
  border-radius:15px;
  text-align:center;
  margin-top:20px;
}

.stats h2{
  margin:10px 0;
}
